@tailwind base;
@tailwind components;
@tailwind utilities;

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  background: black;
}

.radial-background-1 {
  background-image: radial-gradient(at 170% 0%, rgb(49, 46, 129) 0, transparent 69%),
    radial-gradient(at 0% -30%, rgb(21, 94, 117) 0, transparent 50%);
}

.lower-gradient {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.03), rgba(255, 255, 255, 0));
  height: 20vh;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.fading-hr {
  position: relative;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    hsla(0, 0%, 0%, 0.1),
    hsla(0, 0%, 0%, 0.2),
    hsla(0, 0%, 0%, 0.2),
    hsla(20, 0%, 0%, 0.1),
    transparent
  );
}

.fading-hr-dark {
  position: relative;
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1),
    transparent
  );
}

/* Used for code / table formatting within messages */
pre {
  @apply overflow-auto rounded-lg;
}

.window-heights {
  @apply h-[14em] overflow-y-auto overflow-x-hidden sm-h:h-[17em] md-h:h-[22em] lg-h:h-[30em];
}

.link {
  @apply cursor-pointer text-sky-500 underline hover:text-sky-300;
}

table {
  @apply w-full rounded-lg text-white;
  background-color: #0d1117;
}

th,
td {
  @apply rounded-lg border border-gray-700 px-4 py-2;
}

th {
  background-color: #161b22;
}

tr:nth-child(even) {
  background-color: #1c2028;
}

@layer base {
  /* background styles */
  /* Used for the background effect in the landing page */
  .background {
    background-image: radial-gradient(circle, rgba(58, 58, 58, 0.5) 2px, transparent 0px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }

  .background-dark {
    background-image: radial-gradient(circle, rgba(58, 58, 58, 0.5) 2px, transparent 0px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }

  .background-color-1 {
    @apply bg-shade-800-light dark:bg-shade-800-dark;
  }

  .background-color-2 {
    @apply bg-shade-700-light dark:bg-shade-700-dark;
  }

  .background-color-3 {
    @apply bg-shade-600-light dark:bg-shade-600-dark;
  }

  .background-color-4 {
    @apply bg-shade-700-light dark:bg-shade-500-dark;
  }

  .background-color-5 {
    @apply bg-shade-800-light dark:bg-shade-500-dark;
  }

  .background-color-6 {
    @apply bg-blue-base-light dark:bg-shade-800-dark;
  }

  .background-color-7 {
    @apply bg-shade-800-light dark:bg-shade-500-dark;
  }

  /* border styles */
  .border-color-1 {
    @apply border-shade-600-light dark:border-shade-400-dark;
  }

  .border-color-2 {
    @apply border-blue-base-light dark:border-shade-400-dark;
  }

  .border-color-success {
    @apply border-green-base-light dark:border-green-base-dark;
  }

  .border-color-warn {
    @apply border-amber-base-light dark:border-amber-base-dark;
  }

  .border-style-1 {
    @apply border-color-1 rounded-xl border-2;
  }

  .border-hover-1 {
    @apply border-2 hover:border-blue-hover-light focus:ring-0 dark:hover:border-blue-hover-dark;
  }

  .border-hover-success {
    @apply hover:border-green-hover-light dark:hover:border-green-hover-dark;
  }

  .border-hover-warn {
    @apply hover:border-amber-hover-light dark:hover:border-amber-hover-dark;
  }

  .border-focusVisible-1 {
    @apply border-2 focus:ring-0 focus-visible:border-blue-focusVisible-light focus-visible:ring-offset-0 dark:focus-visible:border-blue-focusVisible-dark;
  }

  .border-focusVisible-1[type="range"] {
    @apply border;
  }

  /* text colors */
  .text-color-primary {
    @apply text-shade-100-light dark:text-shade-100-dark;
  }

  .text-color-secondary {
    @apply text-shade-200-light dark:text-shade-200-dark;
  }

  .text-color-tertiary {
    @apply text-shade-300-light dark:text-shade-300-dark;
  }

  .text-color-green {
    @apply text-green-base-light dark:text-green-base-dark;
  }

  .text-hover-green {
    @apply hover:text-green-hover-light dark:hover:text-green-hover-dark;
  }

  .text-color-error {
    @apply text-red-base-light dark:text-red-base-dark;
  }

  /* button styles */
  .blue-button-primary {
    @apply bg-blue-base-light text-shade-100-dark hover:bg-blue-hover-light focus-visible:outline-blue-focusVisible-light dark:bg-blue-base-dark dark:hover:bg-blue-hover-dark dark:focus-visible:outline-blue-focusVisible-dark;
  }

  .blue-button-secondary {
    @apply border-2 border-blue-base-light bg-white text-blue-base-light hover:border-blue-hover-light hover:bg-shade-500-light hover:text-blue-hover-light focus-visible:outline-blue-focusVisible-light dark:border-blue-base-dark dark:bg-white dark:text-blue-base-dark dark:hover:border-blue-hover-dark dark:hover:bg-shade-200-dark dark:hover:text-blue-hover-dark dark:focus-visible:outline-blue-focusVisible-dark;
  }

  .red-button-primary {
    @apply bg-red-base-light text-shade-100-dark hover:bg-red-hover-light focus-visible:outline-red-focusVisible-light dark:bg-red-base-dark dark:hover:bg-red-hover-dark dark:focus-visible:outline-red-focusVisible-dark;
  }

  .red-button-secondary {
    @apply border border-red-base-light bg-white text-red-base-light hover:border-red-hover-light hover:bg-gray-300 hover:text-red-hover-light focus-visible:outline-red-focusVisible-light dark:border-red-base-dark dark:text-red-base-dark dark:hover:border-red-hover-dark dark:hover:text-red-hover-dark dark:focus-visible:outline-red-focusVisible-dark;
  }

  .neutral-button-primary {
    @apply text-color-primary background-color-2 border border-shade-400-light hover:bg-shade-500-light dark:border-shade-400-dark dark:hover:bg-shade-600-dark;
  }

  .button-disabled {
    @apply text-color-tertiary border-style-1 cursor-not-allowed bg-shade-400-light text-white dark:bg-shade-800-dark;
  }
}

/* range input track style */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  background: transparent;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"] {
  @apply background-color-7 rounded-md;
  height: 0.5rem;
}

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */
/* total width */
*::-webkit-scrollbar {
  border-radius: 10px;
  background-color: #464649;
  width: 8px;
}

/* scrollbar itself */
*::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-shade-600-light dark:bg-shade-200-dark;
}

/* set button(top and bottom of the scrollbar) */
*::-webkit-scrollbar-button {
  display: none;
}

/*  disappearing animation */
.animation-hide {
  animation: hide 1s cubic-bezier(0.4, 0, 0.2, 1) 0s 1 forwards;
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes border-pulse-animation {
  0% {
    border-color: rgba(216, 180, 254, 0.3);
  }
  50% {
    border-color: rgba(216, 180, 254, 0.4);
  }
  100% {
    border-color: rgba(216, 180, 254, 0.3);
  }
}

.animate-border-pulse {
  animation: border-pulse-animation 2s infinite;
}

.ant-btn-primary {
  background-color: #1677ff !important;
}

.ant-input {
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 7px 11px !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-size: 14px !important;
  line-height: 1.5714285714285714 !important;
  list-style: none !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji" !important;
  position: relative !important;
  display: inline-block !important;
  width: 100% !important;
  min-width: 0 !important;
  background-color: #ffffff !important;
  background-image: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: #d9d9d9 !important;
  border-radius: 6px !important;
  transition: all 0.2s !important;
}

.ant-input-search input {
  border: none !important;
  padding: 0 !important;
}

.ant-checkbox-wrapper {
  font-size: 12px;
}
